<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <meta name = "format-detection" content = "telephone=no" /> -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>Анкета о себе</title>

    <link href="dist/css/bundle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="http://allfont.ru/allfont.css?fonts=courier-new" rel="stylesheet" type="text/css" />

    <!-- <link rel="icon" href="dist/images/favicons/favicon.ico" type="image/x-icon"> -->
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="app">
      <main class="content maxw1000">
        <img src="./dist/images/secret.png" alt="" class="secret">
        <img src="./dist/images/business.png" alt="" class="business">
        <div class="info">
          <div class="info__paragraph">
            <div class="info__label">Полное ФИО</div>
            <input type="text" class="info__input" v-model="info.name">
          </div>
          <div class="info__paragraph">
            <div class="info__label">Год рождения</div>
            <input-number type="number" input-class="info__input" :min="1900" :max="2100" v-model="info.birthyear"></input-number>
          </div>
          <div class="info__paragraph">
            <div class="info__label">Место жительства</div>
            <input type="text" class="info__input" v-model="info.city">
          </div>
          <div class="info__paragraph">
            <div class="info__label">Скайп</div>
            <input type="text" class="info__input" v-model="info.skype">
          </div>
          <div class="info__paragraph">
            <div class="info__label">Почта</div>
            <input type="email" class="info__input" v-model="info.email">
          </div>
        </div>
        <div class="checkboxes">
          <h2 class="h2">Расскажите о себе чекбоксами</h2>
          <div class="text">Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.</div>
          <div class="checkboxes__list">
            <input-checkbox v-for="skill in skills" :key="skill.name" v-model="skill.value" :label="skill.name" class="checkboxes__item"></input-checkbox>
          </div>
        </div>
        <div class="jslevel">
          <h2 class="h2">Уровень владения JavaScript</h2>
          <javascript-level v-model="jsLevel.percent" :options="jsLevel.options" class="jslevel__slider"></javascript-level>
        </div>
        <div class="about">
          <h2 class="h2">Расскажите о себе словами</h2>
          <div class="text">Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.</div>
          <expand-textarea v-model="about"></expand-textarea>
        </div>
        <div class="plans">
          <h2 class="h2">Какие у вас планы на будущее?</h2>
          <div class="text">Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.</div>
          <div class="plans__list">
            <input-radio v-for="label in plans.options" :key="label" name="plans" v-model="plans.plan" :label="label" class="plans__item"></input-radio>
          </div>
        </div>
        <div class="date">
          <h2 class="h2">Дата заполнения</h2>
          <input type="text" class="date__input" v-model="date">
        </div>
      </main>
    </div>
    <script src="dist/js/bundle.js"></script>
  </body>
</html>
