@import 'variables.less';

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-height: 1000000px; /*disable font boosting for webkit*/
}

html {
	height: 100%;
	font-size: 10px; /* for use rem */
}

body {
	display: flex;
  flex-direction: column;
	font: 1.6rem 'PT Sans', sans-serif;
	width: 100%;
  min-height: 100%;
	color: #2f1b15;
	background-color: #797979;
}

a {
  outline: none;
}

input {
  outline: none;
}

.maxw1000 {
	position: relative;
	width: 100%;
	width: 1000px;
  margin-left: auto;
	margin-right: auto;
}

input[type="text"]:focus::-webkit-input-placeholder {color: transparent}
input[type="text"]:focus::-moz-placeholder          {color: transparent}
input[type="text"]:focus:-moz-placeholder           {color: transparent}
input[type="text"]:focus:-ms-input-placeholder      {color: transparent}

input[type="email"]:focus::-webkit-input-placeholder {color: transparent}
input[type="email"]:focus::-moz-placeholder          {color: transparent}
input[type="email"]:focus:-moz-placeholder           {color: transparent}
input[type="email"]:focus:-ms-input-placeholder      {color: transparent}

input[type="tel"]:focus::-webkit-input-placeholder {color: transparent}
input[type="tel"]:focus::-moz-placeholder          {color: transparent}
input[type="tel"]:focus:-moz-placeholder           {color: transparent}
input[type="tel"]:focus:-ms-input-placeholder      {color: transparent}

textarea:focus::-webkit-input-placeholder {color: transparent}
textarea:focus::-moz-placeholder          {color: transparent}
textarea:focus:-moz-placeholder           {color: transparent}
textarea:focus:-ms-input-placeholder      {color: transparent}

:invalid,
:-moz-submit-invalid,
:-moz-ui-invalid {
  box-shadow: none;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.h2 {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 10px;
}

.text {
	color: #3d3d3d;
	font-size: 15px;
	line-height: 23px;
	margin-bottom: 10px;
}



.content {
  flex: 1 0 auto;
	position: relative;
  min-width: 320px;
	background: url('../images/paper.jpg');
	padding: 145px 110px 65px;
}

.secret {
	position: absolute;
	top: 40px;
	right: 45px;
	margin: 0 auto;
	display: block;
}

.business {
	margin: 0 auto;
	display: block;
	margin-bottom: 50px;
}

.info {
  margin-bottom: 50px;
}

.info__paragraph {
	display: flex;
	align-items: flex-end;
	margin-bottom: 21px;
}

.info__label {
	flex: 0 0 auto;
  font-weight: 700;
	font-size: 22px;
	margin-right: 12px;
}

.info__input {
	flex: 1 0 auto;
	background: transparent;
	font-family: 'Courier New';
	font-size: 30px;
	border-image: url(../images/line.png) 4 repeat;
	border-width: 0 0 4px 0;
	padding: 0 15px 3px;
}

.checkboxes {	
	margin-bottom: 50px;
}

.checkboxes__list {
  margin-top: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	// max-height: 250px;
	height: 250px;
}

.checkboxes__item {
  width: 33%;
	margin-bottom: 8px;
}

.jslevel {
	margin-bottom: 50px;
}

.about {
	margin-bottom: 50px;
}

.plans {
	margin-bottom: 90px;
}

.plans__list {
	display: flex;
}

.plans__item {
	margin-right: 20px;
}

.date {
	display: flex;
	align-items: flex-end;
}

.date__input {
	// flex: 1 0 auto;
	width: 240px;
	margin-bottom: 15px;
	padding: 0 15px 3px;
	margin-left: 20px;
	background: transparent;
	font-family: 'Courier New';
	font-size: 30px;
	border-image: url(../images/line.png) 4 repeat;
	border-width: 0 0 4px 0;
}
